
			.div_body{
				overflow:hidden;
				zoom: 1;
			}


			.div_body{
				border:1px solid #999;
				padding:20px;
				background-color:#eee;
			}
			
			.center,.left{
				box-sizing: border-box;
				padding:20px;
			}

			div,img{
				border:1px solid #999;
				background-color:white;
				margin-right:10px;
			}
					
			.center{
				position: relative;
				margin-left:220px;
				margin-right:140px;
			}
			
			.left{
				float: left;
				width:200px;
				vertical-align: top;
			}
			
			.left img{
				float: left;
			}
			
			.right{
				width:120px;
				float:right;
				 overflow:hidden.
			}

			img{
				width:80px;
				height:80px;
			}

			.right img{
				margin:10px 20px;
			}