*{
	margin: 0;
	padding: 0;
}
a{
	text-indent: 0em;
	color: blue;

}
a ,span{
	display: inline-block;
}
body{
	background-color: rgb(222,222,222);
}
.article,.side{
	margin: 30px 20px;
	padding: 40px 20px 20px 20px ;
	box-shadow: 1px 1px 2px 1px #ccc;
	background-color: white;
}
h2{
	font: bold 20px/30px "Microsoft YaHei","serif";
	color: black;
	margin-bottom: 14px;
}
h3{
	font: bold 16px/30px "Microsoft YaHei","serif";
	color: rgb(127,127,127);
	margin-bottom: 1px;
}
h4{
	font: 10px/30px "Microsoft YaHei","serif";
	color: rgb(110,110,110);
	margin-bottom: 1px;
}
p{
	text-indent: 2em;
	font: 14px/24px "Microsoft YaHei","serif";
	color: black;
}
/* 顶部导航 */
.m-nav{
	width: 100%;
	height: 60px;
	font: 14px/60px "Microsoft YaHei","serif";
	background-color: rgb(51,51,51);
	color: white;
}
.m-nav img{
	vertical-align: middle;
	margin-left: 20px;	
}
.m-nav ul{
	float: right;
	margin-right: 20px;	
}
.m-nav ul li{
display: inline-block;
}
.m-nav ul li a{
	margin-right: 10px;
	color: white;
	text-decoration: none;
}
.m-nav ul li a:hover{
	color: #ddd;
}

/* 另一篇文章 */
.article2 ul li{
	margin-top: 15px;
	text-indent: 2em;
	list-style: none;
}

/* 图片 */
.article3 figure{
	width: 310px;
	margin-left: 30px;
	margin-bottom: 20px;
	padding: 15px 0;
	text-align: center;
	border: 1px solid #ddd;
}
.article3 figure img{
	margin-top: 10px;
}

/* 最后一篇文章 */
.article4 ol{
	margin:20px 50px;
}
.article4 p{
	text-indent: 0;
}
.article4 table{
	border: 1px solid #ddd;
	border-spacing: 0;
}
.article4 table th{
	padding-left: 5px;
	border-left: 1px solid #aaa; 
	font: bold 15px/35px "Microsoft YaHei","serif";
	color: white;
	background-color: rgb(51,51,51);
	text-align: left;
}
.article4 table td{
	height: 20px;
	width: 700px;
	padding-left: 5px;
	border: 1px solid #ddd;
	font: bold 12px/35px "Microsoft YaHei","serif";;

}
.article4 table tfoot{
	background-color: rgb(204,204,204);
}
.article4 table tfoot td{
	border: none;
}

/* 侧栏 */
.side h2{
	height: 40px;	
	border-left: 3px solid #ddd;
	padding-left: 10px;
	font-size: 16px;
	line-height: 40px;
}
.side form{
margin-left: 250px;
}
.side label{
	float: left;
	width: 100px;
	height: 20px;
	margin-right: 20px;
	font: bold 12px/24px "serif";
	text-align: right;	
}
.side input{
	height: 20px;
	margin-bottom: 10px;
}
.side select{
	height: 20px;
	margin-bottom: 10px;
}
.side p{
	margin-left: 120px;
	margin-bottom: 20px;
	text-indent: 0;
	color: #aaa;
}
.side input[name="email"]{
	width: 150px;
}
.side input[name="password"]{
	width: 150px;
}
.side span{
	vertical-align: top;
	height: 20px;
	line-height: 20px;
}
.side button{
	width: 1200px;
	height: 30px;
	margin-top: 10px;
	margin-left: -216px;
	border: none;
	border-radius: 4px;
	background-color: rgb(51,85,208);
	color: white;
	font:bold 14px/30px "Microsoft YaHei","serif";
}
/* 页脚 */
.footer{
	height: 80px;
	padding-top: 30px;
	text-align: center;	
	background-color: black;
}
.footer p{
	color: white;
}