.tags .tags-ul li,nav li {
	width: 20%;
	float: left
}

#header,.tags .circle {
	color: #fff;
	text-align: center
}

#header,#header h1,.articles .article-flex .flex-img,.module .up .item,.tags .circle,.tags .col-box,.tags .tags-ul p,nav li {
	text-align: center
}

* {
	margin: 0 auto;
	padding: 0 auto
}

html {
	font-size: 32px
}

@media screen and (min-width:320px) {
	html {
		font-size: 32px
	}
}

@media screen and (min-width:360px) {
	html {
		font-size: 36px
	}
}

@media screen and (min-width:375px) {
	html {
		font-size: 37.5px
	}
}

@media screen and (min-width:384px) {
	html {
		font-size: 38.4px
	}
}

@media screen and (min-width:400px) {
	html {
		font-size: 40px
	}
}

@media screen and (min-width:414px) {
	html {
		font-size: 41.4px
	}
}

@media screen and (min-width:435px) {
	html {
		font-size: 43.5px
	}
}

@media screen and (min-width:480px) {
	html {
		font-size: 48px
	}
}

@media screen and (min-width:540px) {
	html {
		font-size: 54px
	}
}

@media screen and (min-width:568px) {
	html {
		font-size: 56.8px
	}
}

@media screen and (min-width:600px) {
	html {
		font-size: 60px
	}
}

@media screen and (min-width:640px) {
	html {
		font-size: 64px
	}
}

@media screen and (min-width:667px) {
	html {
		font-size: 66.7px
	}
}

@media screen and (min-width:720px) {
	html {
		font-size: 72px
	}
}

@media screen and (min-width:731px) {
	html {
		font-size: 73.1px
	}
}

@media screen and (min-width:736px) {
	html {
		font-size: 73.6px
	}
}

@media screen and (min-width:768px) {
	html {
		font-size: 76.8px
	}
}

@media screen and (min-width:800px) {
	html {
		font-size: 80px
	}
}

@media screen and (min-width:900px) {
	html {
		font-size: 90px
	}
}

@media screen and (min-width:960px) {
	html {
		font-size: 96px
	}
}

@media screen and (min-width:1200px) {
	html {
		font-size: 120px
	}
}

@media screen and (min-width:1440px) {
	html {
		font-size: 144px
	}
}

body {
	font-family: Arial,"Microsoft YaHei","Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif;
	background-color: #f5f5f5
}

.icon-arrow,.icon-tags {
	font-family: iconfont!important;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: .2px;
	-moz-osx-font-smoothing: grayscale;
	vertical-align: super
}

a,img {
	-webkit-touch-callout: none
}

body,html {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

ul li {
	list-style: none
}

@font-face {
	font-family:iconfont;src:url(icons/iconfont.eot);src:url(icons/iconfont.eot?#iefix) format('embedded-opentype'),url(icons/iconfont.woff) format('woff'),url(icons/iconfont.ttf) format('truetype'),url(icons/iconfont.svg#iconfont) format('svg')
}

.icon-arrow {
	font-size: .546875rem
}

.icon-tags {
	font-size: .78125rem
}

#header {
	padding: .3125rem;
	height: .546875rem;
	line-height: .546875rem;
	background-color: #91d4da
}

.tags,nav {
	background-color: #fff;
	overflow: hidden
}

#header h1 {
	vertical-align: top;
	font-size: .546875rem;
	font-weight: 400
}

#header .back {
	position: absolute;
	left: .3125rem;
	height: .546875rem;
	vertical-align: baseline
}

#header .back span {
	margin-left: -.3rem;
	font-size: .5rem;
	vertical-align: super
}

nav {
	font-size: .5rem
}

nav ul {
	overflow: hidden;
	padding: 0
}

nav li {
	box-sizing: border-box;
	padding: .390625rem 0;
	border-bottom: .078125rem solid #fff
}

nav li:nth-child(2) {
	border-bottom: .078125rem solid #91d4da
}

.banner {
	height: 5.46875rem;
	background-image: url(img/banner.png);
	background-size: 100% 100%
}

.tags {
	padding: 0 .3125rem
}

.tags .tags-ul {
	padding: .46875rem 0;
	overflow: hidden;
	border-bottom: .03125rem solid #dedede
}

.tags .tags-ul p {
	margin-top: .40625rem;
	font-size: .375rem
}

.tags .circle {
	width: 1.25rem;
	height: 1.25rem;
	line-height: 1.25rem;
	border-radius: .625rem;
	background-color: #00c6d6
}

.tags .col-flex {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding-top: .390625rem
}

.tags .col-box {
	width: 33.33%;
	margin-bottom: .390625rem;
	border-right: .03125rem solid #dedede
}

.tags .col-box .title {
	margin-top: .15625rem;
	font-size: .46875rem
}

.tags .col-box .content {
	margin-top: .15625rem;
	font-size: .390625rem;
	color: #424242
}

.tags .col-box:last-child {
	border: none
}

.tags .col-img {
	width: 2.1875rem;
	height: 1.875rem
}

.tags .col-box:nth-child(1) .col-img {
	background: url(img/col-1.png) no-repeat;
	background-size: 100% 100%
}

.tags .col-box:nth-child(2) .col-img {
	background: url(img/col-2.png) no-repeat;
	background-size: 100% 100%
}

.tags .col-box:nth-child(3) .col-img {
	background: url(img/col-3.png);
	background-size: 100% 100%
}

.module {
	margin-top: .34375rem;
	padding: .390625rem .3125rem 0;
	background-color: #fff
}

.module .title {
	margin-bottom: .390625rem;
	padding-bottom: .3125rem;
	font-size: .46875rem;
	border-bottom: .03125rem solid #dedede
}

.module .up .avatar {
	box-sizing: border-box;
	position: absolute;
	left: .3125rem;
	width: 2.421875rem;
	height: 2.265625rem;
	background: url(img/avatar.png) no-repeat;
	background-size: 100% 100%;
	border: 1px solid #fdcf74
}

.module .up .items {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	height: 2.421875rem;
	margin-left: 2.5rem
}

.module .up .item {
	width: 3.203125rem;
	height: 1.015625rem;
	line-height: 1.015625rem;
	background-color: #f8f8f8;
	font-size: .390625rem
}

.articles {
	margin-top: .3125rem;
	margin-bottom: 1.40625rem
}

.articles .article {
	position: relative;
	background-color: #fff;
	padding: .234375rem .625rem .28125rem .3125rem;
	margin-bottom: .0625rem;
	overflow: hidden
}

.articles .article .img {
	float: left;
	width: 2.8125rem;
	height: 2rem;
	background: url(img/article-small.png) no-repeat;
	background-size: 100%
}

.articles .article .title {
	padding-left: 3.125rem;
	font-size: .4375rem;
	line-height: .625rem;
	min-height: 1.25rem
}

.articles .article .time {
	margin-top: .28125rem;
	padding-left: 3.125rem;
	font-size: .34375rem;
	color: #c6c6c6
}

.articles .article-flex {
	position: relative;
	background-color: #fff;
	padding: .234375rem .3125rem .28125rem
}

.articles .article-flex .title {
	font-size: .4375rem;
	line-height: .78125rem;
	margin-bottom: .15625rem
}

.articles .article-flex .img {
	display: inline-block;
	width: 3.0625rem;
	height: 2.03125rem;
	background: url(img/article-big.png) no-repeat;
	background-size: 100%
}

.articles .article-flex .img:nth-child(1) {
	float: left
}

.articles .article-flex .img:nth-child(3) {
	float: right
}

.articles .article-flex .time {
	margin-top: .15625rem;
	font-size: .34375rem;
	color: #c6c6c6
}